- error = @post.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:type_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :type_name, :class => 'control-label'
  .controls
    =f.text_field :type_name, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:type_name, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:content)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :content, :class => 'control-label'
  .controls.markdown-textarea
    / .row
    %p.icon-file{"title"=>"上传文件",:style=>"float:right",:id=>'upload_containor'}
      %input(type="file" name="file_upload" id="file_upload")
    ~ f.text_area :content, :id=>"markdown-content",:class => 'input-xlarge input-with-feedback',rows:15
    %span.help-inline=error ? f.error_message_on(:content, :class => 'text-error') : pat(:example)
  .controls.markdown-preview{:style=>"display:none;"}

%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :TAGS, :class => 'control-label'
  .controls
    =f.text_field :tags, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:tags, :class => 'text-error') : pat(:example)
- error = @post.errors.include?(:tags)

.form-actions
  = link_to t("markdown.edit"),"javascript:void(0);",:class => 'btn markdown-edit',id:"markdown-edit",style:"display:none"
  = link_to t("markdown.preview"),"javascript:void(0);",:class => 'btn markdown-edit',id:"markdown-preview"
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:posts, :index), :class => 'btn'
