- error = @tag.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @tag.errors.include?(:num)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :num, :class => 'control-label'
  .controls
    =f.text_field :num, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:num, :class => 'text-error') : pat(:example)
- error = @tag.errors.include?(:is_delete)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :is_delete, :class => 'control-label'
  .controls
    =f.check_box :is_delete, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:is_delete, :class => 'text-error') : pat(:example)
- error = @tag.errors.include?(:downcase_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :downcase_name, :class => 'control-label'
  .controls
    =f.text_field :downcase_name, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:downcase_name, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:tags, :index), :class => 'btn'
