%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:tags, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:tags, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:tags, :edit, :id => @tag.id)

.tabs-content
  -form_for :tag, url(:tags, :update, :id => @tag.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'tags/form', :locals => { :f => f }
