%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:tags, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:tags, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:tags, :destroy_many), :method => :delete do
                      =hidden_field_tag :tag_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:tag, :created_at)
        %th.header= mat(:tag, :updated_at)
        %th.header= mat(:tag, :name)
        %th.header= mat(:tag, :num)
        %th.header= mat(:tag, :is_delete)
        %th.header= mat(:tag, :downcase_name)
        %th.header.list-row-action-header

    %tbody
      -@tags.each do |tag|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'tag_ids[]', :value => tag.id, :class => 'list-selectable-checkbox'
          %td.list-column=time_ago_in_words tag.created_at
          %td.list-column=time_ago_in_words tag.updated_at
          %td.list-column=tag.name
          %td.list-column=tag.num
          %td.list-column=tag.is_delete
          %td.list-column=tag.downcase_name
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:tags, :edit, :id => tag.id), :rel => :tooltip, :title => "#{pat(:edit)} tag", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} tag", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "tag")
                .popover-content
                  -form_tag url(:tags, :destroy, :id => tag.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
