%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:tags, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:tags, :new)

.tabs-content
  -form_for :tag, url(:tags, :create), :class => 'form-horizontal' do |f|
    =partial 'tags/form', :locals => { :f => f }
