.highlight pre{
	background: #272727;
}
.highlight pre span.k{
	color:#CB782D;
}
.highlight pre span.c1,.highlight pre span.cm{
	color:gray;
	font-style:italic ;
}
.highlight pre span.nc{
	color:#66D9D9;
}
.highlight pre span.no{
	color:#66FFFF;
}
.highlight pre span.o{
	color:#ff4900;
}
.highlight pre span.nb{
	color: #B65923 ;
}
.highlight pre span.nf{
	color:#FAFA48;
}
.highlight pre span.s1, .highlight pre span.s2{
	color: #A4A54C
}
.highlight pre span.ss{
	color:#B71A27;
}
.highlight pre span.kp{
	color:#CB7999;
}
.highlight pre span.nt{
	color:#CB7999;	
}
.highlight pre span.m{
	color: #A4A54C
}
.highlight pre span.p{
	color:white;
}
.highlight pre span.kd{
	color:#B71A27;
}
.highlight pre span.nx{
	color: white;
}
.highlight pre span.n{
	color:white;
}
.highlight pre span.mi{
	color: white;
}
.highlight pre span.vi{
	color:#ffff00;
}

.highlight pre span.sr{
	color:#7bff00;
}
.highlight pre span.vc{
	color: #ffaa00;
}
.highlight pre span.nn{
	color:#00bbff;
}
.highlight pre span.si{
	color: #ff3c00;
}
.highlight pre span.sc{
	color: #ff3c00;
}
.highlight pre span.kc{
	color:#eb2194;
}