!!! 5
%html{:lang => 'en'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin"
    =favicon_tag '/admin/images/favicon.ico'
    %link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag '/admin/stylesheets/bootstrap', '/admin/stylesheets/application','/stylesheets/highlight.css'
    %script
      = "var authenticity_token = '#{session[:csrf]}';"
      = "var admin_root = '#{Padrino.env == :production ? '/' : '/admin/'}'"
      

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to 'Padrino', url(:base_index), :class => 'navbar-brand', :title => 'Padrino Admin'
          %ul.nav.pull-right
            %li.navbar-edit-account=link_to tag_icon(:user), url(:accounts, :edit, :id => current_account.id), :title => pat(:profile), :class => 'navbar-nav-link'
            %li.navbar-logout
              =button_to :logout, url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form' do
                =content_tag :button, tag_icon(:off), :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link'

          %ul.nav.pull-left
            - project_modules.each do |project_module|
              %li{:class => "navbar-module #{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                =link_to project_module.human_name, Padrino.env == :production ? project_module.path('/') : project_module.path('/admin')

    .container.main
      .main-wrapper
        =[:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe
        .row=yield
        .main-wrapper-push
      #upload_files_list(style="display:none")
        上传文件一览

    %footer
      .footer-wrapper.container
        %p.pull-left
          Copyright &copy;
          =Time.now.year
          Your Site - Powered by Padrino v.#{Padrino.version}
        %ul.pull-right.footer-links
          %li= link_to tag_icon(:home, 'web'), 'http://www.padrinorb.com', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:heart, 'blog'), 'http://www.padrinorb.com/blog', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:github, 'code'), 'https://github.com/padrino/padrino-framework', :target => :_blank, :class => 'footer-links-link'
          %li= link_to tag_icon(:twitter, 'twitter'), 'http://twitter.com/padrinorb', :target => :_blank, :class => 'footer-links-link'

    =javascript_include_tag '/admin/javascripts/jquery-1.9.0.min','/admin/javascripts/jquery.html5-fileupload', (Padrino.env == :production ? '/admin/javascripts/bootstrap/bootstrap.min' : %w[bootstrap/bootstrap-affix bootstrap/bootstrap-alert bootstrap/bootstrap-button bootstrap/bootstrap-carousel bootstrap/bootstrap-collapse bootstrap/bootstrap-dropdown bootstrap/bootstrap-tooltip bootstrap/bootstrap-transition bootstrap/bootstrap-typeahead bootstrap/bootstrap-modal bootstrap/bootstrap-popover bootstrap/bootstrap-scrollspy bootstrap/bootstrap-tab]), '/admin/javascripts/application'

