.container-fluid
  .row-fluid
    .span9
      %ul.nav
        - for post in  @posts
          %li.nav.nav-tabs 
            %a{href:url_for(:posts,:show,:id=>post.id)}
              %h3
                %time= post.created_at.strftime("%Y-%m-%d")
                = post.title

    .span3
      = partial "layouts/slider"