.container-fluid
  .row-fluid
    .span9
      .row-fluid
        %h2= @post.title
      .row(style='text-align:right')
        %time= @post.created_at.strftime("%Y-%m-%d")
        / %a{href:url_for(:posts,:index)}
        /   = t("posts.back")
      .row-fluid
        ~ MDToHtml.arnkortyconverthtml(@post.content)
      .row
        .span4(style="text-align:left")
          - if @post.prev
            %a{href:url_for(:posts,:show,:id=>@post.prev.id)}
              = t("posts.prev")
        .span4(style="text-align:center")
          %a{href:url_for(:posts,:index)}
            = t("posts.list")
        .span4(style="text-align:right")
          - if @post.next
            %a{href:url_for(:posts,:show,:id=>@post.next.id)}
              = t("posts.next")        
      .row
        = partial "posts/disqus"
    .span3
      = partial "layouts/slider"