.row-fluid.slider
  %h3
    TAG
  .row-fluid
    - for tag in @tags
      %a.tag{href:url_for(:posts,:index,tag:tag.name)}= tag.name+"(#{tag.num || 0})"
.row-fluid.slider
  %h3
    = t("posts.recent_post")   
  .row-fluid
    %ul.nav
      - for post in @recent_posts
        %li
          %a{href:url_for(:posts,:show,:id=>post.id)}
            = post.title

