- error = @setting.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :type_name, :class => 'control-label'
  .controls
    =f.check_box :type_name
- error = @setting.errors.include?(:value)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :value, :class => 'control-label'
  .controls.markdown-textarea
    %p.icon-file{"title"=>"上传文件",:style=>"float:right;cursor:pointer ",:id=>'upload_containor'}
      %input(type="file" name="file_upload" id="file_upload")    
    =f.text_area :value, :class => 'input-xlarge input-with-feedback',:id=>"markdown-content"
    %span.help-inline=error ? f.error_message_on(:value, :class => 'text-error') : pat(:example)
  .controls.markdown-preview{:style=>"display:none;"}
.form-actions
  = link_to t("markdown.edit"),"javascript:void(0);",:class => 'btn  markdown-edit',id:"markdown-edit",style:"display:none"
  = link_to t("markdown.preview"),"javascript:void(0);",:class => 'btn ',id:"markdown-preview"  
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:settings, :index), :class => 'btn'
